<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/png" href="#">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book Recommendation System">
    <meta name="author" content="Bibek Rai">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Book Recommender System</title>
   
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Book Recommendation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link mx-2 active"  aria-current="page" href="/recommend">Recommend Books</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link mx-2 active"  aria-current="page" href="/list">Search Books From This List</a>
          </li>
        </ul>
      </div>

    </div>
    </nav>
    <br>
    

</nav>
</body>
<br>
<div class="container">
  <footer class="footer">       
      <p class="mb-0" style="text-align: center;"><strong>Copyright 2023</strong><a href="http://www.github.com//BibekRai44" target="_blank"> Bibek Rai</a></p>
  </footer>
</div> 
</html>