<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/png" href="#">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book Recommendation System">
    <meta name="author" content="Bibek Rai">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Book Recommender System</title>
   
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Book Recommendation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link mx-2 active"  aria-current="page" href="/recommend">Recommend Books</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link mx-2 active"  aria-current="page" href="/list">Search Books From This List</a>
          </li>
        </ul>
      </div>

    </div>
    </nav>
    <br>
    <ol>
        <li>Harry Potter and the Prisoner of Azkaban (Book 3)</li>
        <li>Harry Potter and the Goblet of Fire (Book 4)</li>
        <li>Harry Potter and the Sorcerer's Stone (Book 1)</li>
        <li>Harry Potter and the Order of the Phoenix (Book 5)</li>
        <li>Harry Potter and the Chamber of Secrets (Book 2)</li>
        <li>The Hobbit: The Enchanting Prelude to The Lord of the Rings</li>
        <li>The Fellowship of the Ring (The Lord of the Rings, Part 1)</li>
        <li>Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))</li>
        <li>The Two Towers (The Lord of the Rings, Part 2)</li>
        <li>To Kill a Mockingbird</li>
        <li>The Da Vinci Code</li>
        <li>The Five People You Meet in Heaven</li>
        <li>The Catcher in the Rye</li>
        <li>The Lovely Bones: A Novel</li>
        <li>1984</li>
        <li>Prodigal Summer: A Novel</li>
        <li>Neverwhere</li>
        <li>The Secret Life of Bees</li>
        <li>Stupid White Men... and Other Sorry Excuses for the State of the Nation!</li>
        <li>Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson</li>
        <li>The Red Tent (Bestselling Backlist)</li>
        <li>The Hitchhiker's Guide to the Galaxy</li>
        <li>Nickel and Dimed: On (Not) Getting By in America</li>
        <li>Into the Wild</li>
        <li>Fahrenheit 451</li>
        <li>Girl with a Pearl Earring</li>
        <li>Outlander</li>
        <li>Where the Heart Is (Oprah's Book Club (Paperback))</li>
        <li>Seabiscuit: An American Legend</li>
        <li>Life of Pi</li>
        <li>The Bean Trees</li>
        <li>A Child Called "It": One Child's Courage to Survive</li>
        <li>ANGELA'S ASHES</li>
        <li>Good in Bed</li>
        <li>Fast Food Nation: The Dark Side of the All-American Meal</li>
        <li>American Gods</li>
        <li>Skipping Christmas</li>
        <li>Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)</li>
        <li>The Golden Compass (His Dark Materials, Book 1)</li>
        <li>The Color Purple</li>
        <li>Silence of the Lambs</li>
        <li>About a Boy</li>
        <li>Seven Up (A Stephanie Plum Novel)</li>
        <li>The Alchemist: A Fable About Following Your Dream</li>
        <li>Hard Eight: A Stephanie Plum Novel (A Stephanie Plum Novel)</li>
        <li>Suzanne's Diary for Nicholas</li>
        <li>Lord of the Flies</li>
        <li>A Prayer for Owen Meany</li>
        <li>The Vampire Lestat (Vampire Chronicles, Book II)</li>
        <li>White Oleander: A Novel (Oprah's Book Club)</li>
      </ol>

</nav>
</body>
<br>
<div class="container">
  <footer class="footer">       
      <p class="mb-0" style="text-align: center;"><strong>Copyright 2023</strong><a href="http://www.github.com//BibekRai44" target="_blank"> Bibek Rai</a></p>
  </footer>
</div> 
</html>