<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/png" href="#">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book Recommendation System">
    <meta name="author" content="Bibek Rai">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Book Recommender System</title>
   
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Book Recommendation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/recommend">Recommend Books</a>
          </li>
        </li>
        <li class="nav-item" >
          <a class="nav-link mx-2 active"  aria-current="page" href="/list">Search Books From This List</a>
        </li>
        </ul>
      </div>
    </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-black text-center"  style="font-size:50px; color: blueviolet;" >Get Similar Books Recommendation</h1>
                <br>
                <form action="recommend_books" method="post">
                    <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            <input name="user_input" type="text" class="form-control form-control-md" placeholder="Enter book name">
                          </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                          <div class="col-md-2">
                            <button type="submit" value="Submit" class="btn btn-success btn-block">Recommend</button>
                          </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if data %}

             {% for i in data %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i[2]}}">
                            <p class="text-black">{{i[0]}}</p>
                            <h4 class="text-black">{{i[1]}}</h4>
                        </div>
                    </div>
                </div>
             {% endfor %}

            {% endif %}

      </div>
  </div>

</nav>
</body>
<br>
<div class="container">
    <footer class="footer">       
        <p class="mb-0" style="text-align: center;"><strong>Copyright 2023</strong><a href="http://www.github.com//BibekRai44" target="_blank"> Bibek Rai</a></p>
    </footer>
  </div> 
</html>